/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Red+Hat+Display:wght@500;600;700;800&display=swap');

@import "tailwindcss";

/* DaisyUI plugin */
@plugin "daisyui" {
    themes: light --default;
}

/* DaisyUI custom theme */
@plugin "daisyui/theme" {
    name: "light";
    default: true;

    /* Your colors */
    
}

/* Body font */
* {
    font-family: "Outfit", sans-serif;
}

/* Heading font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Red Hat Display", sans-serif;
}
.logotext {
    background: linear-gradient(45deg, #000000, #aaaaaa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn-hubprimary{
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    background: linear-gradient(45deg, #000000, #aaaaaa);
}
.btn-huboutline{
    color: black;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 20px;
    background-color: white;
}
a.active{
    color: white;
    font-size: 14px;
    /* font-weight: 600; */
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    background: linear-gradient(45deg, #000000, #aaaaaa);
}